<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-16">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Groups</h4>
                        <p class="card-category"> Select Groups to which You want add new action</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                <th>
                                    #
                                </th>
                                <th>
                                    Name of Group
                                </th>
                                <th>
                                    Add to
                                </th>

                                </thead>

                                <tbody>

                                <tr *ngFor="let group of emailGroups; let i=index" >
                                    <th scope="row" >{{i+1}}</th>
                                    <td>{{group.name}}</td>
                                    <td> <div class="form-check">
                                        <label class="form-check-label">
                                            <mat-radio-button (change)="toggleVisibility($event,group)"></mat-radio-button>

                                        </label>
                                    </div>
                                    </td>

                                </tr>
                                </tbody>

                            </table>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">

                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Actions of: <b>{{checkedGroup.name}}</b></h4>
                        <p class="card-category"> Select Group to add new action</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                <th>
                                    #
                                </th>
                                <th>
                                    Action Name
                                </th>


                                </thead>

                                <tbody>

                                <tr *ngFor="let action of groupActions; let i=index" >
                                    <th scope="row" >{{i+1}}</th>
                                    <td>{{action.name}}</td>
                                    <td> <div class="form-check">
                                        <label class="form-check-label"></label>
                                    </div>
                                    </td>

                                </tr>
                                </tbody>

                            </table>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
